<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ec73b6c2-237d-4666-b856-c3f4dbf1af1d/resourcegroups/bh專題/providers/Microsoft.Web/sites/BHa74</ResourceId>
    <ResourceGroup>bh專題</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bha74.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bha74.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BHa74</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$BHa74</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ECARDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=bha7410011.database.windows.net;Initial Catalog=ECARDB;Persist Security Info=True;User ID=A7410011;Password=A74bh10011;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BH.Models.ECARDBEntities, BH" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BHEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BHModel1.csdl|res://*/Models.BHModel1.ssdl|res://*/Models.BHModel1.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-3ST6S4Q;initial catalog=ECARDB;user id=a7410011;password=a7410011;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ECARDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ECARDBModel.csdl|res://*/Models.ECARDBModel.ssdl|res://*/Models.ECARDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=bha7410011.database.windows.net;Initial Catalog=ECARDB;Persist Security Info=True;User ID=A7410011;Password=A74bh10011;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>