
@{
    ViewBag.Title = "Service";
}

<h2>服務</h2>
<html>
<body>
    <h3 style="color:#ff0000">輸入想問的問題，智能小幫手將幫你回答</h3>
    <iframe src="https://web.powerva.microsoft.com/environments/Default-9e0dd6b1-99a5-4858-ba44-ed1f82d4cf6a/bots/new_bot_1a254b2f053249eab529c7cb2cc97d83/webchat" frameborder="0" style="width: 100%; height: 500px;"></iframe>
</body>
</html>

